[Unit]
Description=Inex license plates recognizer

[Service]
WorkingDirectory=/opt/inex/lprecognizer
ExecStart=/opt/inex/lprecognizer
Restart=always

[Install]
WantedBy=multi-user.target