[Unit]
Description=Inex license plates recognizer

[Service]
User=root
WorkingDirectory=/opt/inex/lprecognizer
ExecStart=/opt/inex/lprecognizer/lprecognizer
Restart=always

[Install]
WantedBy=multi-user.target