[Unit]
Description=Inex license plates recognizer

[Service]
Environment= MY_ENVIRONMENT_VAR =/path/to/file.config
WorkingDirectory=/opt/inex/lprecognizer
ExecStart=/opt/inex/lprecognizer
Restart=always

[Install]
WantedBy=multi-user.target